<section class="contact">
    <div class="contact__hero">
    </div>
    <div class="contact__container">

        <div class="contact__box">
            
            <div class="contact__box-number">
                <div class="contact__box-number-adress">
                    <a href="https://maps.app.goo.gl/x4dBAXcEMXWrZzXZ6" class="adress-link"><i class="fa-solid fa-house "></i></a>
                    <a href="https://maps.app.goo.gl/x4dBAXcEMXWrZzXZ6" class="adress-link"><p class="adress">Zaczernie 53A</p></a>
                    <a href="https://maps.app.goo.gl/x4dBAXcEMXWrZzXZ6" class="adress-link"><p class="adress"> 36-062 Zaczernie</p></a>

                </div>
                <div class="contact__box-number-phone">
                    <i class="fa-solid fa-mobile-screen-button phone"></i>
                    <a href="tel: +48 785 512 046" class="phoneNumber">+48 785 512 046</a>
                </div>
               
            </div>
        </div>

     
           
        <footer class="footer">
            <div class="footer-box">
                <p class="footer-text">&copy; {{currentYearLong()}} | cut-or-not.pl | Realizacja: <a href="mailto:krawiecmag@gmail.com">Magdalena Krawiec</a></p>
            </div>
            
          </footer>
    </div>
    

</section>