<section class="portfolio" id="portfolio">
    

    <div class="wrapper">

       <div class="containerGrid">
<div class="div1">  
    <!-- <div class="bgImg">
            <div class="img"></div>
            <img src="../../assets/img/heroImg.jpeg" alt="Zdjęcie założyciela marki Zimne-dranie, Macieja Pasternaka" class="bgImg__img">
        </div> -->
          <!-- <div class="bgImgMd">
            <div class="img"></div>
        </div> -->
    </div>
     

 <div class="div2">
        <div class="aboutMe">
        <i class="fa-solid fa-quote-left aboutMe__fa-quote"></i>
      <p class="aboutMe__quote"> Gastronomia to dla mnie nie tylko zawód — to styl życia. To smak, emocje i ludzie. Najlepsze doświadczenia kulinarne zostają w pamięci na długo po ostatnim kęsie.</p>
      <div class="mobileHero"></div>      
      <h1 class="aboutMe__title">Maciej<br />Pasternak</h1>
        <h2 class="aboutMe__title-two">Kim jestem?</h2>
        <!-- <p class="aboutMe__text aboutMe__text-first">Jeśli Twoją pasją jest szeroko pojęta kuchnia —<span class="importantText">jesteś w dobrym
miejscu.</span> 
Moja historia zaczęła się przy kuchennym stole, gdzie tradycja spotykała się z prostotą i autentycznym
smakiem. Inspiracją byli ludzie <span class="importantText" >— Babcia, Koło Gospodyń Wiejskich —</span>  którzy pokazali mi, że najlepsze
potrawy powstają z serca i szacunku do produktu.</p> -->
    </div>
</div>
    
<div class="div3"><p class="aboutMe__text">Łączę tradycyjne receptury z <span class="importantText" > nowoczesnymi technikami kulinarnymi.</span>  Tworzę doświadczenia kulinarne, w
których liczy się <span class="importantText">balans, tekstura i emocja.</span>  Kuchnia to dla mnie nie odtwarzanie <span class="importantText">— to kreowanie.</span></p>
<p class="aboutMe__text">Przez ponad 8 lat zdobywałem doświadczenie w <span class="importantText" >najlepszych krakowskich hotelach, restauracjach i
cukierniach:</span></p>
<ul class="aboutMe__text">
    <li class="aboutMe__text-li"><i class="fa-solid fa-check"></i> <span class="importantText">Hotel Rubinstein</span></li>
    <li class="aboutMe__text-li"><i class="fa-solid fa-check"></i> <span class="importantText">Hotel pod Różą (Likus Hotele i Restauracje)</span></li>
    <li class="aboutMe__text-li"><i class="fa-solid fa-check"></i> <span class="importantText">Restauracja Marcello pod patronatem Magdy Gessler</span></li>
</ul>

<p class="aboutMe__text"> <span class="importantText">Szef Kuchni</span> - Restauracja Oranżeria, Hotel Rzeszów
<span class="importantText" >Założyciel i Szef Cukierni</span> -  „Niebo w Gębie”
<span class="importantText">Współtwórca i Szef Kuchni </span>- Restauracja „Radość” (Rzeszów Rynek)</p></div>

        
<div class="div4">
    
</div>

<div class="div5"></div>

<div class="div6">
    <p class="aboutMe__text">Cukiernictwo to przestrzeń mojej największej kreatywności — szczególnie praca z czekoladą i
nowoczesnymi deserami.
Jestem <span class="importantText">właścicielem konceptu Zimne Dranie</span>, gdzie tworzę <span class="importantText">rzemieślnicze lody </span>łączące technologię, smak
i odwagę w komponowaniu nowych połączeń.
Lody traktuję jako pełnoprawny element gastronomii —<span class="importantText">zbalansowany, dopracowany i zapamiętywany.</span> </p>
<p class="aboutMe__text">Moje podejście to połączenie rzemiosła i technologii z kreatywnością.
Tworzę koncepty gastronomiczne, które działają operacyjnie i wyróżniają się na rynku.</p><p class="aboutMe__text">Jako <span class="importantText">właściciel MASTER.NAK Maciej Pasternak</span>  wspieram restauracje, cukiernie, kawiarnie i lodziarnie
na każdym etapie ich rozwoju — od koncepcji po optymalizację.</p>
    </div>



    
       
       

    

    
</div>



    </div>

</section>