<section class="hero-section">

    <div class="hero">
        <div class="hero__bg">
            <div class="hero__bg-partOne heroBg">
               <button class="logoBtn" [routerLink]="offersLink"><img src="./assets/img/zimne_dranie_logo.png" alt="" class="iceCream"></button> 
            </div>
            <div class="hero__bg-partTwo heroBg">
                <a href="#offer">
<button class="logoBtn">
                    <img  src="./assets/img/master.nak_logo.jpeg" alt="" class="masterNak"></button>
                </a>
                
            </div>
        </div>
    </div>
</section>