<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Encode+Sans:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chicle&family=Dynalight&family=Encode+Sans:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral+SC:wght@200;400&display=swap" rel="stylesheet">

    <title>Zimne dranie</title>

    <script src="https://kit.fontawesome.com/78533621b1.js" crossorigin="anonymous"></script>

</head>

<body>



    <section class="section-price">
             <!--@include 'nav.kit'-->
        <div class="price-title">
<h1 class="price-title__main">oferta</h1>
        </div>
        <div class="shadowBg"> </div>
  <div class="offersBox">
<div class="offers__cards">
    
        <span class="offers__card-title">Lody</span>
    <div class="offers__card" onClick="void(0)">
        <div class="offers__card-bg  bg-second">
            <h2 class="offers__card-bg-title">Lody</h2>
             <p class="offers__card-bg-info"><i class="fas fa-angle-double-right"></i>Sprawdź</p>
        </div>
        <div class="offers__card-info">
        <ul>
            <li>
                <div>
                 
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> ciasteczkowe</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> biała czekolada</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> biała czekolada z maliną</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> biała czekolada z marakują</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> oreo</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> orzech laskowy (ferrero)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> czekolada</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> słony karmel</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> pistacja</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> kibana (banan z kiwi)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> kinder bueno</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> rafaello (kokosowe)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> wanilia</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> guma balonowa</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i> snickers</div>
                          <div class="title"><i class="fa-solid fa-ice-cream"></i> tiramisu</div>
                       
                       
                </div>
            </li>
        </ul>
    </div>
</div>
    <span class="offers__card-title">Lody</span>
    <div class="offers__card" onClick="void(0)">
        <div class="offers__card-bg  bg-second">
            <h2 class="offers__card-bg-title">Lody</h2>
             <p class="offers__card-bg-info"><i class="fas fa-angle-double-right"></i>Sprawdź</p>
        </div>
        <div class="offers__card-info">
            <ul>
                <li>
                    <div>
                        <span></span>
                  
                        
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>kawowe</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mięta z czekoladą</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>miętowe</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>śmietanka z solonym karmelem</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>czekolada z brownie</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>śmietanka z czekoladą i kokosem</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>malaga (rodzynki w rumie)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mascarpone</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mascarpone z owocami lasu</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mascarpone z marakują</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mascarpone z jagodą crunch</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>śmietanka z malinami</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>śmietanka z marakują</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>lawendowe z owocami leśnymi</div>
                       <div class="title"><i class="fa-solid fa-ice-cream"></i>straciatella</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>śmietanka</div>
                        


                    </div>
                </li>
            </ul>
        </div>
    </div>
    <span class="offers__card-title">Lody</span>
    <div class="offers__card" onClick="void(0)">
        <div class="offers__card-bg  bg-second">
            <h2 class="offers__card-bg-title">Lody</h2>
             <p class="offers__card-bg-info"><i class="fas fa-angle-double-right"></i>Sprawdź</p>
        </div>
        <div class="offers__card-info">
            <ul>
                <li>
                    <div>
                        <span></span>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>jogurtowe z amareną</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>jogurtowe z owocami lasu</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>jogurtowe z truskawką</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>bakaliowe</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>bounty</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>sernik z malinami</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>sernik z jagodą crunch</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>sernik z marakują</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>matcha latte z malinami</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>matcha latte z bananem i limonką</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>tort schwarzwaldzki</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>zabajone marshala z kruszonką kawową</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>biała czekolada z wiśnią i kruszonką wiśniową</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>vietnamaese coconut coffee</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>rokitnik z białą czekoladą</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>rokitnik z marakują</div>
                        


                    </div>
                </li>
            </ul>
        </div>
    </div>
    

    <span class="offers__card-title">Lody owocowe</span>
    <div class="offers__card" onClick="void(0)">
        <div class="offers__card-bg  bg-third">
            <h2 class="offers__card-bg-title">Lody owocowe</h2>
             <p class="offers__card-bg-info"><i class="fas fa-angle-double-right"></i>Sprawdź</p>
        </div>
        <div class="offers__card-info">
            <ul>
                <li>
                    <div>
                  
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>truskawka</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>maina</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>jagoda</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>marakuja</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mango</div>
                  
                        
                        


                    </div>
                </li>
            </ul>
        </div>
    </div>
     <span class="offers__card-title">Sorbety</span>
    <div class="offers__card" onClick="void(0)">
        <div class="offers__card-bg bg-third">
            <h2 class="offers__card-bg-title">Sorbety</h2>
             <p class="offers__card-bg-info"><i class="fas fa-angle-double-right"></i>Sprawdź</p>
        </div>
        <div class="offers__card-info">
            <ul>
                <li>
                    <div>
                        <span></span>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>truskawka</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>malina</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>mango alphonso</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>kibana (banan z kiwi)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>czerwona pomarańcza (fanta)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>arbuz</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>zielone jabłuszko</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>różowy grapefruit</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>jagoda</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>limonka cytryna z imbirem</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>cytryna</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>cytryna z miętą</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>cytryna z bazylią</div>
                        


                    </div>
                </li>
            </ul>
        </div>
    </div>
<span class="offers__card-title">Lody wege</span>
    <div class="offers__card" onClick="void(0)">
        <div class="offers__card-bg  bg-third">
            <h2 class="offers__card-bg-title">Lody wege</h2>
             <p class="offers__card-bg-info"><i class="fas fa-angle-double-right"></i>Sprawdź</p>
        </div>
        <div class="offers__card-info">
            <ul>
                <li>
                    <div>
                        <span></span>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>pistacja (mleko roślinne)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>wanilia (mleko roślinne)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>orzech laskowy (mleko roślinne)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>kawowe (mleko roślinne)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>malaga (mleko roślinne)</div>
                        <div class="title"><i class="fa-solid fa-ice-cream"></i>kibana (banan z kiwi)</div>
                        
                
                    </div>
                </li>
            </ul>
        </div>
    </div>
 
</div>
  </div>

   
 



         
    </section>





    <script src="dist/js/main.min.js"></script>
</body>

</html>